.DS_Store
Thumbs.db

*.log
*.err.log
*.pid
*.zip
.pids/

.env
.env.*
!.env.example
!frontend-user/.env.example
!frontend-admin/.env.example

.cert/
.nested-git-backup/

backend/.venv/
backend/.venv-win/
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.idea/
**/__pycache__/
*.py[cod]

frontend-user/node_modules/
frontend-user/dist/
frontend-user/.git.nested-backup*/
frontend-user/.vscode/
frontend-user/.VSCodeCounter/
frontend-user/.env.development
frontend-user/*.log
frontend-admin/node_modules/
frontend-admin/dist/
frontend-admin/.git.nested-backup*/
frontend-admin/.vscode/
frontend-admin/.VSCodeCounter/
frontend-admin/.env.development
frontend-admin/*.log
